<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Second Pass Constructon</title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <header>
      <img id="header-img" src="/images/logo.png" alt="Logo" />
      <section id="header-title-group">
        <h1 id="header-title">Second Pass Construction</h1>
        <h3 id="header-subtitle">If we don't get it right the first time, we'll take a second pass for the same amount</h3>
      </section>
    </header>

    <nav id="nav">
      <ul id="nav-ul">
        <li id="nav-li-1"><a href="/">Home</a></li>
        <li id="nav-li-2"><a href="about">About</a></li>
        <li id="nav-li-3"><a href="contact">Contact</a></li>
      </ul>
    </nav>

    <%= yield %>

    <footer> <p id="footer-text">&copy; 2015 Myron Johnson</p></footer>
  </body>
</html>
